@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

li {
  list-style-type: none;
}

html {
  overflow-y: scroll;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
}

* {
  word-wrap: break-word;
}

body {
  background: #efefef;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

p, li, dt, dd {
  line-height: 1.5;
}

a:link {
  color: #2c8893;
}
a:visited {
  color: #2c8893;
}
a:hover {
  color: #58c1cd;
}

@font-face {
  font-family: MyYuGothic;
  font-weight: normal;
  src: local(YuGothic-Medium), local("Yu Gothic Medium");
  /* for Chrome */
}
@font-face {
  font-family: MyYuGothic;
  font-weight: bold;
  src: local(YuGothic-Bold), local("Yu Gothic");
  /* for Chrome */
}
body {
  font-family: sans-serif;
}

body[data-os^="Windows"] {
  font-family: "Noto Sans CJK JP", Meiryo, sans-serif;
}

body[data-os="Windows 10"] {
  font-family: "Noto Sans CJK JP", MyYuGothic, Meiryo, sans-serif;
}

body[data-os^="Mac OS"] {
  font-family: "Noto Sans Japanese", YuGothic, sans-serif;
}

body[data-os^="iOS"] {
  font-family: sans-serif;
}

body[data-os^="Android"] {
  font-family: Roboto, sans-serif;
}

body[data-os^="Android 4"],
body[data-os^="Android 5"] {
  font-family: Roboto, MotoyaLCedar, sans-serif;
}

.page-header {
  min-width: 930px;
  background: #e6fdff;
  padding: 10px 15px;
}
.page-header .page-header__heading {
  font-size: 20px;
}
@media (max-width: 768px) {
  .page-header .page-header__heading {
    font-size: 17px;
  }
}

.page-header__inner {
  width: 930px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .page-header__inner {
    width: auto;
    text-align: center;
  }
}

.gnav li {
  display: inline-block;
}

.contents {
  background: #d0e5e7;
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}
.contents:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 768px) {
  .contents {
    width: auto;
    padding: 1px 15px;
  }
}

.contents__main {
  float: left;
  width: 645px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
}
@media (max-width: 768px) {
  .contents__main {
    float: none;
    width: 100%;
    margin: 0 0 25px;
  }
}

.heading-lv1 {
  position: relative;
  margin: 0 0 20px;
  padding: 0 0 0 15px;
  font-size: 20px;
  color: #333;
}
.heading-lv1:before {
  content: "";
  display: block;
  width: 4px;
  height: 10px;
  position: absolute;
  top: 5px;
  left: 0;
  background: #666;
}
.heading-lv1:after {
  content: "";
  display: block;
  width: 4px;
  height: 10px;
  position: absolute;
  top: 15px;
  left: 0;
  background: #ccc;
}

.heading-lv2 {
  position: relative;
  margin: 0 0 15px;
  padding: 0 0 0 15px;
  font-size: 18px;
  color: #333;
}
.heading-lv2:before {
  content: "";
  display: block;
  width: 8px;
  height: 3px;
  position: absolute;
  top: 13px;
  left: 0;
  background: #666;
}

.heading-lv3 {
  margin: 0 0 10px;
  font-size: 16px;
}

.contents__side {
  float: right;
  width: 240px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
}
.contents__side ul {
  list-style-type: none;
  padding-left: 0;
}
@media (max-width: 768px) {
  .contents__side {
    float: none;
    width: 100%;
  }
}

.bnr-side li {
  margin: 0 0 10px;
}

.btn-pagetop {
  clear: both;
  padding: 30px 0 10px;
  text-align: right;
}

.page-footer {
  min-width: 930px;
  padding: 1px 15px;
  background: #bfd0d2;
  color: #000;
}
.page-footer .cr {
  text-align: center;
}
.page-footer small {
  font-size: 80%;
  color: #999;
}

.page-footer__inner {
  width: 930px;
  padding: 20px 0;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .page-footer__inner {
    width: auto;
    text-align: center;
  }
}

.footer-nav {
  margin: 0 0 20px;
}
.footer-nav li {
  display: inline-block;
}

/* TOP
------------------------------------------*/
.pageTitleH3 {
  border-top: 2px solid #22ab39;
  border-bottom: 4px solid #22ab39;
  margin: 0 0 15px;
  padding: 10px 0;
}

/* form-parts
------------------------------------------*/
.form-parts__lead_tx {
  margin: 0 0 20px;
}

.form-table {
  width: 100%;
  margin: 0 0 20px;
}
.form-table th {
  width: 130px;
  padding: 10px;
  background: #efefef;
  text-align: left;
  font-weight: normal;
  border: 1px solid #ccc;
  vertical-align: top;
}
.form-table td {
  padding: 10px 10px 5px;
  background: #fff;
  border: 1px solid #ccc;
}
.form-table .must th div {
  position: relative;
  padding-right: 40px;
}
.form-table .must th div:after {
  content: "必須";
  display: inline-block;
  padding: 1px 5px;
  position: absolute;
  top: 0;
  right: 0;
  background: #c00;
  color: #fff;
  font-size: 12px;
}
.form-table .must td {
  background: #fff2f2;
}

.form-parts__btn {
  text-align: center;
}

.form-parts__list li {
  display: inline-block;
  text-indent: -18px;
  vertical-align: top;
}
.form-parts__list input[type="radio"],
.form-parts__list input[type="checkbox"] {
  margin: 0 5px 0 0;
}
.form-parts__list.option__inline li {
  margin: 0 20px 5px 18px;
}
.form-parts__list.option__w100 li {
  width: 100px;
  margin: 0 10px 5px 18px;
}
.form-parts__list .option__others {
  display: block !important;
  width: 100% !important;
}
.form-parts__list .option__others input[type="text"] {
  margin-left: 5px;
}

.code-sample {
  margin: 0 0 20px;
  padding: 20px;
  background: #fff;
}

.form-parts__text {
  margin-bottom: 5px;
  padding: 8px;
  border: 1px solid #ccc;
}
.form-parts__text.option__w100 {
  width: 84px;
}
.form-parts__text.option__w200 {
  width: 184px;
}
.form-parts__text.option__w396 {
  width: 380px;
}
.form-parts__text.option__w468 {
  width: 452px;
}

.form-parts__symbol {
  padding: 0 3px 0 6px;
}

.form-parts__textarea {
  height: 100px;
  padding: 8px;
  border: 1px solid #ccc;
}
.form-parts__textarea.option__w468 {
  width: 452px;
}

.btn__submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 200px;
  margin: 0 0 60px;
  padding: 10px 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #efefef));
  background: -moz-linear-gradient(top, #ffffff, #efefef);
  background: -webkit-linear-gradient(top, #ffffff, #efefef);
  background: linear-gradient(to bottom, #ffffff, #efefef);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #666;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.btn__submit:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.btn__submit:disabled {
  background: #efefef;
  color: #ccc;
  cursor: auto;
}
.btn__submit:disabled:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
