$break-small:768px;
$break-medium:900px;

.page-header {
  background:#e6fdff;
  padding:10px 15px;
  .page-header__heading {
    font-size:20px;
    @media(max-width:$break-small) {
      font-size:17px;
    }
  }
}

.page-header__inner {
  width:960px;
  margin:0 auto;
  @media(max-width:$break-small) {
    width:auto;
    text-align:center;
  }
}

.gnav {
  li {
    display: inline-block;
  }
}

.contents {
  background:#d0e5e7;
  width:920px;
  margin:0 auto;
  padding:20px;
  &:after {
    content:"";
    display:table;
    clear:both;
  }
  @media(max-width:$break-small) {
    width:auto;
    padding:1px 15px;
  }
}

.contents__main {
  float:left;
  width:645px;
  background:rgba(255,255,255, .2);
  @media(max-width:$break-small) {
    float:none;
    width:100%;
    margin:0 0 25px;
  }
}

.heading-lv1 {
  margin:0 0 20px;
  font-size:20px;
}
.heading-lv2 {
  margin:0 0 15px;
  font-size:18px;
}
.heading-lv3 {
  margin:0 0 10px;
  font-size:16px;
}

.contents__side {
  float:right;
  width:240px;
  padding:10px;
  background:rgba(255,255,255, .2);
  ul {
    list-style-type:none;
    padding-left:0;
  }
  @media(max-width:$break-small) {
    float:none;
    width:100%;
  }
}
.bnr-side {
  li {
    margin:0 0 10px;
  }
}
.btn-pagetop {
  clear:both;
  padding:30px 0 10px;
  text-align:right;
}

.page-footer {
  padding:1px 15px;
  background:#bfd0d2;
  color:#000;
  .cr {
    text-align:center;
  }
  small {
    font-size:80%;
    color:#999;
  }
}
.page-footer__inner {
  width:960px;
  padding:20px 0;
  margin:0 auto;
  @media(max-width:$break-small) {
    width:auto;
    text-align:center;
  }
}
.footer-nav {
  margin:0 0 20px;
  li {
    display: inline-block;
  }
}
