/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@charset "utf-8";
@import "compass";
@import "base";

$break-small:768px;

#wrap {
	width:1000px;
}

@media screen and(max-width:$break-small) {
	#wrap {
		width:100%;
	}
}

#foo1 {
	@include border-radius(4px);
	@include background-size(320px auto);
	@include box-shadow(red 2px 2px 10px);
	@include box-shadow(rgba(blue,0.4) 0 0 25px,rgba(red,0.1) 0 0 3px 1px inset);
}