@charset "utf-8";
@import "compass";
@import "normalize";
$break-small:600px;
$break-medium:900px;
/*----------------------------------
 * common
 *----------------------------------*/
* {
  word-wrap: break-word;
}
body {
  background: #fff;
  color: #333;
  font-family: 'Hiragino Kaku Gothic Pro', Meiryo, 'MS PGothic', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
* html body {
  font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}
h1, h2, h3, h4, h5, h6, p, li, dt, dd {
  line-height: 1.5;
}
input, textarea {
  font-family: 'Hiragino Kaku Gothic Pro', Meiryo, 'MS PGothic', sans-serif;
}
* html input, * html textarea {
  font-family: "ＭＳ Ｐゴシック", "MS PGothic", Osaka;
}
#mod-pageHeader {
  background:#ccc;
  padding:1px 15px;
  h1 {
    font-size:20px;
  }
}
@media(max-width:$break-small) {
  #mod-pageHeader {
    text-align:center;
    h1 {
      font-size:18px;
    }
  }
}
#mod-pageContents {
  background:#ddd;
  width:900px;
  margin:0 auto;
}
@media(max-width:$break-medium) {
  padding:0 15px;
}
#mod_pageFooter {
  padding:1px 15px;
  background:#eee;
  color:#000;
  small {
    font-size:80%;
    color:#999;
  }
}
@media(max-width:$break-medium) {
  #mod_pageFooter {
    text-align:center;
  }
}

/*----------------------------------
 * style
 *----------------------------------*/
