/* form-parts
------------------------------------------*/

$text-padding:8px; //テキスト入力の余白
$form-parts__mb:5px; //各パーツのmargin-bottom


//
// layout
//
.form-parts__lead_tx {
  margin:0 0 20px;
}
.form-table {
  width: 100%;
  margin:0 0 20px;
  @media(max-width:$break-small) {
    width:auto;
  }
  tr {
    &:first-child th {
      @media(max-width:$break-small) {
        border:1px solid #ccc;
      }
    }
  }
  th {
    width:130px;
    padding:10px;
    background:#efefef;
    text-align:left;
    font-weight:normal;
    border:1px solid #ccc;
    vertical-align:top;
    @media(max-width:$break-small) {
      display:block;
      width:100%;
      @include box-sizing(border-box);
      border-top:none;

    }
  }
  td {
    padding:10px 10px 5px;
    background:#fff;
    border:1px solid #ccc;
    @media(max-width:$break-small) {
      display:block;
      width:100%;
      @include box-sizing(border-box);
      border-top:none;
    }
  }
  .must {
    th {
      div {
        position: relative;
        padding-right:40px;
        &:after {
          content:"\5FC5\9808";//必須
          display:inline-block;
          padding:1px 5px;
          position:absolute;
          top:0;
          right:0;
          background:#c00;
          color:#fff;
          font-size:12px;
        }
      }
    }
    td {
      background:#fff2f2;
    }
  }
}
.form-parts__btn {
  text-align:center;
}
.form-parts__list {
  li {
    display:inline-block;
    text-indent:-18px;
    vertical-align:top;
  }
  input[type="radio"],
  input[type="checkbox"] {
    margin:0 5px 0 0;
  }
  &.option__inline {
    li {
      margin:0 20px $form-parts__mb 18px;
    }
  }
  &.option__w100 {
    li {
      width:100px;
      margin:0 10px $form-parts__mb 18px;
    }
  }
  .option__others {
    display:block !important;
    width:100% !important;
    input[type="text"] {
      margin-left:5px;
      @media(max-width:$break-small) {
        width:100%;
        margin:5px 0 0 -18px;
        @include box-sizing(border-box);
      }
    }
  }
}


//
// text box
//
.form-parts__text {
  margin-bottom:$form-parts__mb;
  padding:$text-padding;
  border:1px solid #ccc;
  @include border-radius(0);
  @include box-shadow(0 0 0 #000 inset);
  &.option__w100 {
    width:100px - $text-padding - $text-padding;
  }
  &.option__w200 {
    width:200px - $text-padding - $text-padding;
  }
  &.option__w396 {
    width:396px - $text-padding - $text-padding;
    @media(max-width:$break-small) {
      @include box-sizing(border-box);
      width:100%;
    }
  }
  &.option__w468 {
    width:468px - $text-padding - $text-padding;
    @media(max-width:$break-small) {
      @include box-sizing(border-box);
      width:100%;
    }
  }
}
.form-parts__symbol {
  padding:0 3px 0 6px;
}
input[type="text"]:disabled {
  background:#efefef;
}

//
// textarea
//
.form-parts__textarea {
  height:100px;
  padding:$text-padding;
  border:1px solid #ccc;
  &.option__w468 {
    width:468px - $text-padding - $text-padding;
    @media(max-width:$break-small) {
      @include box-sizing(border-box);
      width:100%;
    }
  }
}

//
// radio
//


//
// checkboc
//



//
// select box
//
.form-parts__select {
  //position: relative;
  border:1px solid #ccc;
}

//
// btn
//
.btn__submit {
  @include experimental(appearance,none);
  width:200px;
  margin:0 0 60px;
  padding:10px 0;
  @include background(linear-gradient(top,#fff,#efefef));
  @include border-radius(5px);
  border:1px solid #ccc;
  color:#666;
  font-size:16px;
  text-align:center;
  cursor:pointer;
  &:hover {
    @include opacity(.8);
  }
  &:disabled {
    background:#efefef;
    color:#ccc;
    cursor:auto;
    &:hover {
      @include opacity(1);
    }
  }
}

//
// error
//
.error__tx {
  color:#c00;
  font-size:12px;
}



//
// 解説
//
.explanation {
  p {
    margin:0 0 30px;
  }
}
.code-sample {
  margin:0 0 30px;
  padding:20px;
  background:#fff;
  overflow-x: auto;
}
