ul.bnr-side
  li
    a(href="#" target="_blank")
      img(src="https://c3.staticflickr.com/1/390/19376422642_60895969ff_m.jpg" width="240")
      |meat1
  li
    a(href="#" target="_blank")
      img(src="https://c6.staticflickr.com/8/7602/16399408173_9d5106155b_m.jpg" width="240")
      |meat2
p.btn-contact
  a(href="#" target="_blank")
    img(src="https://c5.staticflickr.com/1/494/19193516972_5856fe8ea2_m.jpg" width="240")
    |contact
