ul.bnr-side
  li
    a(href="#" target="_blank")
      img(src="https://c5.staticflickr.com/1/494/19193516972_5856fe8ea2_m.jpg" width="240")
      |link1
  li
    a(href="#" target="_blank")
      img(src="https://c5.staticflickr.com/1/494/19193516972_5856fe8ea2_m.jpg" width="240")
      |link2
p.btn-contact
  a(href="#" target="_blank")
    img(src="https://c5.staticflickr.com/1/494/19193516972_5856fe8ea2_m.jpg" width="240")
    |contact
